<h1>Sign Up</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" id="user-name" placeholder="Your Name" required>
 
    <input type="email" name="email" id="user-email" placeholder="Your email" required>
 
    <input type="password" name="password" id="user-password" placeholder="Password" required>
 
    <input type="password" name="confirm-password" id="user-password" placeholder="Confirm Password" required>
 
    <input type="submit" value="Sign Up">
 
 </form>